footer {
  padding: 130px 0px;
  background-image: url("footer.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FooterH2 {
  max-width: 746px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(20, 24, 32, 1);
  margin: 0 auto 32px;
}
@media (max-width: 774px) {
  .FooterH2 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 529px) {
  .FooterH2 {
    font-size: 28px;
    line-height: 58px;
  }
}
.FooterP {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 846px;
  margin-bottom: 44px;
  color: rgba(85, 85, 85, 1);
}

form input {
  width: 445px;
  height: 70px;
  padding: 10px;
  font-family: Orbitron;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 1);
  color: rgba(85, 85, 85, 1);
}
form button {
  padding: 21px 7px;
  font-family: Orbitron;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  background-color: rgba(87, 184, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
@media (max-width: 652px) {
  form {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  form input {
    width: 260px;
    font-size: 16px;
    padding: 8px;
  }
  form button {
    font-size: 20px;
    padding: 18px 5px;
  }
}
@media (max-width: 330px) {
  .container {
    padding: 0 10px;
  }
}
