nav {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.88) 50%,
    rgba(87, 185, 255, 0.655) 50%
  );
  padding: 20px 0;
  position: fixed;
  top: -1px;
width: 100%;
z-index: 2;
}
.navflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  color: white;
  display: none;
}

ul {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  transition: 0.3s;
}
ul li:hover a {
  color: rgba(250, 196, 34, 1);
}
@media (max-width: 1018px) {
  ul {
    gap: 30px;
  }
  @media (max-width: 844px) {
    .navflex {
      flex-direction: column;
    }   
    .hamburger {
      display: inline;
    }
    .flex1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    ul {
      flex-wrap: wrap;
      row-gap: 5px;
    }
    .show{
      display: flex;
    }
    .hide{
      display: none !important;
    }
  }
}
.Navbutton {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  padding: 16px 31px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.Navbutton:hover {
  animation-name: Button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes Button {
  0% {
    color: white;
    border: 1px solid white;
  }
  50% {
    padding: 10px 31px;
    margin-top: 12px;
    background-color: rgba(255, 0, 0, 0.391);
    border: 1px solid black;
  }
  100% {
    color: white;
    border: 1px solid white;
  }
}
.endNav {
  display: flex;
  gap: 24px;
}
